<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Datos del usuario
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre: {{user.nombre}} {{user.apellido}}</li>
            <li class="list-group-item">Edad: {{user.edad}}</li>
            <li class="list-group-item">Sexo: {{user.genero}}</li>
        </ul>
    </div>
    {{#each tasks}}
    <div class="col md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-tittle d-flex-justify-content-between align-items-center">
                    {{nombre}} <a href="/tasks/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>Prioridad: {{prioridad}}</p>
                <p>{{fecha}}</p>
                <form action="/tasks/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Eliminar
                    </button>
                </form>

            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">No hay tareas aún</p>
            <a href="/tasks/add" class="btn btn-success btn-block">Crear tareas</a>
        </div>
    </div>
    {{/each}}
</div>