<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-hader"><h1>Editar tarea</h1></div>
        <div class="card-body">
            <form action="/tasks/edit-task/{{task._id}}?_method=PUT" method="POST"> 
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre"
                    value="{{task.nombre}}">
                </div>
                 <div class="form-group">
                    <select class="custom-select" id="inputGroupSelect01" name="prioridad" value="{{taks.prioridad}}">
                        
                        <option value="Alta">Alta</option>
                        <option value="Media">Media</option>
                        <option value="Baja">Baja</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="dates">
                        <input type="date" autocomplete="off" class="form-control" id="user1" placeholder="dd-mm-yyyy"
                            name="fecha" value="{{{task.fecha}}}">
                    </div>
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>