
<div class="col-md4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Nueva tarea</h2>
        </div>
        <div class="card-body">
            <form action='/tasks/new-task' method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre de la tarea" autofocus>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="inputGroupSelect01" name="prioridad">
                        <option selected>Selecione la prioridad</option>
                        <option value="Alta">Alta</option>
                        <option value="Media">Media</option>
                        <option value="Baja">Baja</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="dates">
                        <input type="date" autocomplete="off" class="form-control" id="user1" placeholder="dd-mm-yyyy"
                            name="fecha">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>