<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Tarea App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tareas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/tasks">Tareas</a>
                        <a class="dropdown-item" href="/tasks/add">Agregar notas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signin">Ingresar </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signup">Registrarse</a>
                </li>
                {{/if}}



            </ul>
        </div>
    </div>
</nav>