<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apellido" placeholder="Apellido" value="{{apellido}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="edad" placeholder="Edad" value="{{edad}}">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="exampleRadios1"
                            value="Hombre" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Hombre
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="exampleRadios2"
                            value="Mujer">
                        <label class="form-check-label" for="exampleRadios2">
                            Mujer
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo" value="{{email}}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Constraseña">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword"
                            placeholder="Confirmar constraseña">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>